.main_image {
  border: 0;
  max-width: 100%;
  height: auto;
  width: auto;
}
.caption {
  text-align: center;
  font-size: 80%;
}
.article {
  padding-top: 5%;
  padding-bottom: 1%;
  max-width: 900px;
  padding-left: 5%;
  padding-right: 5%;
  margin: 28px auto 0;
}
.new_article_section {
  position: relative;
  background-color: #ffffff;
  padding-left: 20%;
}
.blog_section {
  padding-top: 5%;
  padding-bottom: 5%;
  max-width: 1000px;
  padding-left: 5%;
  padding-right: 5%;
  margin: 28px auto 0;
}
#featured-articles {
  text-align: center;
}
#all-articles {
  text-align: center;
}
#title {
  font-family: roboto;
  color: #40484f;
  text-align: center;
  top: 0%;
  position: relative;
  font-size: 300%;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: roboto;
  color: #40484f;
  font-size: 170%;
}
p {
  font-family: roboto;
  color: #40484f;
  font-size: 120%;
}
table,
th,
td {
  border: 1px solid #40484f;
  border-collapse: collapse;
}
th {
  border: 1px solid #40484f;
  border-collapse: collapse;
  font-family: roboto;
  color: #40484f;
  text-align: left;
  font-size: 120%;
}
td {
  border: 1px solid #40484f;
  border-collapse: collapse;
  font-family: roboto;
  color: #40484f;
  font-size: 120%;
}
dt,
dd,
li {
  font-family: roboto;
  font-size: 120%;
}
blockquote {
  font-family: roboto;
  font-size: 120%;
}
#footer {
  background-color: #40484f;
  position: relative;
  margin-top: 5%;
  width: 100%;
  bottom: 0px;
}
a {
  color: #0467C1;
}
.code {
  font-family: "Fira Code", monospace;
  color: #0467C1;
}
body {
  background-color: #f7f7f9;
}
.navbar {
  background-color: #40484f;
}
.logo {
  width:40px;
  position:relative;
}
.dropdown-menu {
  background-color: #f7f7f9;
  border-color: #40484f;
}
.mb-4 {
  max-width: 1199px;
  border-width: 0px;
  border-color: #f7f7f9;
  background-color: #f7f7f9;
  padding-left: 7%;
  padding-right: 7%;
}
.card-body {
  background-color: #f7f7f9;
}
.featured_articles_card {
  border-width: 0px;
  border-color: #f7f7f9;
  background-color: #f7f7f9;
}
.card-title {
  font-size: 120%;
}
.card_link {
  text-decoration: none;
}
.footer_bg {
  background-color: #40484f;
}
.footer_collum {
  max-width: 230px; 
}
.footer_title {
  color: #f7f7f9;
  text-align: left;
  padding: 1%;
  font-size: 20px;
  font-family: roboto;
}
.footer_link {
  color: #f7f7f9;
  text-align: left;
  padding: 1%;
  font-size: 20px;
  font-family: roboto light;
  text-decoration: none;
}
.footer_link:hover {
  color: #f7f7f9;
  text-align: left;
  padding: 1%;
  font-size: 20px;
  font-family: roboto;
  text-decoration: none;
}
ul {
  color: #40484f;
}
#date {
  text-align: center;
  color: 40484f;
  opacity: 0.4;
  font-size: 110%;
}
.btn {
  background-color: #0467C1;
  border-color: #0467C1;
}
